# ShivaayXStore Backend Environment Configuration

# Server configurations
PORT=5000

# MongoDB Database connection URI
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/shivaayxstore?retryWrites=true&w=majority

# Telegram Bot configurations
TELEGRAM_BOT_TOKEN=123456789:ABCdefGhIJK...

# Cloudinary configurations for Image upload
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
